

.room-tile{

    width:90px;

    height:90px;

    border:1px solid #e2e8f0;

    border-radius:10px;

    background:#fafcff;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.25s;
}

.room-tile:hover{

    border-color:#2563eb;

    box-shadow:0 5px 12px rgba(37,99,235,.08);
}

.room-icon{

    font-size:18px;

    color:#64748b;

    margin-bottom:6px;
}

.room-tile h4{

    font-size:15px;

    color:#1e293b;

    margin-bottom:4px;
}

.room-tile span{

    font-size:11px;

    font-weight:600;
}

.available span{

    color:#16a34a;
}

.occupied span{

    color:#dc2626;
}

.needscleaning span{

    color:#d97706;
}