.roomtype-table-container{
    background:#fff;
    border:1px solid #e2e8f0;
    border-radius:14px;
    overflow:hidden;
}

.roomtype-table{
    width:100%;
    border-collapse:collapse;
}

.roomtype-table thead{
    background:#f8fafc;
}

.roomtype-table th{
    padding:18px;
    text-align:left;
    font-size:14px;
    color:#475569;
    border-bottom:1px solid #e2e8f0;
}

.roomtype-table td{
    padding:18px;
    border-bottom:1px solid #f1f5f9;
    color:#334155;
}

.roomtype-table tbody tr:hover{
    background:#f8fafc;
}

.type-actions{
    display:flex;
    gap:10px;
}

.type-actions button{
    width:38px;
    height:38px;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.25s;
}

.type-actions button svg{
    font-size:18px;
}

.view-btn{
    background:#dbeafe;
    color:#2563eb;
}

.edit-btn{
    background:#dcfce7;
    color:#16a34a;
}

.delete-btn{
    background:#fee2e2;
    color:#dc2626;
}

.type-actions button:hover{
    transform:translateY(-2px);
}